$maxPageWidth: 1600px;
$headerHeight: 64px;
$footerHeight: 128px;

body {
  max-width: $maxPageWidth;
  margin: auto;
}


.vertical-layout {
  display:flex;
  flex-direction: column;
  align-items: stretch;

  &__header {
    flex:none;
    position: fixed;
    top:0;
    width: 100%;
    height: $headerHeight;
    max-width: $maxPageWidth;
  }

  &__content {
    flex: auto;
    display: flex;
    min-height: $headerHeight;
    margin-top: $headerHeight;
  }

  &__footer {
    flex:auto;
    max-height: $footerHeight;

  }

}