@mixin background-fades-on-hover-to($color) {
  transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-duration: .3s;

  &:hover {
    background-color: $color;
  }
}

@mixin with-shadow {
  -webkit-box-shadow: 2px 3px 3px 1px $color3-shadow;
  -moz-box-shadow: 2px 3px 3px 1px $color3-shadow;
  box-shadow: 2px 3px 3px 1px $color3-shadow;
}