
.demands-content {
  padding: 32px;
  width: 100%;

}

.hero-image {
  @media (min-width: 648px) {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.5)), url('../images/demo_photo_big.png');
  }
  @media (max-width: 648px) {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.5)), url('../images/demo_photo_small.png');
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  align-items: center;

  color: $color5;
  display: flex;
  flex-direction: column;
  font-family: Cunia;
  font-size: x-large;
  text-align: center;

  &__phrase {

    width: 90%;
    padding: 0 24px;
    border-radius: 3px;
    margin-bottom: 18px;

    .title {
      background-color: $color2;
      color: $color5;
      line-height: 3.6;
      padding: 0 21.3px;
      width: max-content;

    }

    @include background-fades-on-hover-to($color1);

  }
}
