
.demands-content {
  padding: 32px 32px;
  width: 100%;

}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/demo_photo.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

.hero-text {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color5;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  &__phrase {
    background-color: $color2;
    color: $color5;
    line-height: 2.4;
    width: max-content;
    padding: 0 21.3px;
  }
}
