.mainpage-content {
  width: 100%;
  min-height: 100vh;
  &.hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.5)), url('../images/stop_evictions_photo_london.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    .hero-text {
      height: 80%;
      width: 80%;
      font-size: 60px;
      color: white;
      padding: 50px;
      background-color: rgba(0, 0, 0, 0.5);
    }

  }
}