
body {
  font-family: 'Lucida Grande';
}

header {
  flex:none;
  height: 4em;
  display: flex;

  .logo {
    height: 100%;
  }

  .navigation-bar {
    width: 100%;
    background: $color3;

    display: flex;
    justify-content: start;

    a {
      display: block;
      text-decoration: none;
      color: $color5;
      padding: 20px 14px;

      &:hover {
        background: $color2;
        color: $color5;

      }

    }
  }
}

footer {
  height: 5em;
  width: 100%;
  background: $color3;
  color: $color5;
  text-align: center;
  padding-top: 0.4em;


  .social-media-links {
    display: flex;
    justify-content: center;

    .link {
      width: 1em;
      margin: 10px;
      fill: $color5;
    }
  }
}

@import 'demands-content';