$color1: #8c271eff;
$color2: #3f0d12ff;
$color3: #100007ff;
$color4: #de3c4bff;
$color5: #fff8f0ff;

$gradient-top: linear-gradient(0deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-right: linear-gradient(90deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-bottom: linear-gradient(180deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-left: linear-gradient(270deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-top-right: linear-gradient(45deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-bottom-right: linear-gradient(135deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-top-left: linear-gradient(225deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-bottom-left: linear-gradient(315deg, #8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);
$gradient-radial: radial-gradient(#8c271eff, #3f0d12ff, #100007ff, #de3c4bff, #fff8f0ff);


body {
  font-family: 'Lucida Grande';
}

header {
  height: 4em;
  display: flex;

  .logo {
    height: 100%;
  }

  .navigation-bar {
    width: 100%;
    background: lightgray;

    display: flex;
    justify-content: start;

    a {
      display: block;
      text-decoration: none;
      padding: 20px 14px;

      &:hover {
        background: black;
        color: white;

      }

    }
  }
}


footer {
  position: fixed;
  bottom: 0;
  height: 5em;
  width: 100%;
  background: $color5;
  text-align: center;
  padding-top: 0.4em;


  .social-media-links {
    display: flex;
    justify-content: center;

    .link {
      width: 1em;
      margin: 10px;

    }
  }
}

